@import _variables

// -------- BASE STYLES ------------------
body
  font-family: 'Droid Serif', serif

h1,h2,h3,h4,h5,h6
  color: $OF_PINK
  font-family: 'Oswald', sans-serif
  a
    color: inherit

h1 
  font-weight: 700
  text-transform: uppercase
  line-height: 47px

hr.compact
  margin: 5px 0 

h2 
  color: darken($OF_PINK,10)
  font-weight: 400
  font-style: italic
  font-size: 20px
  line-height: 23px
  
p 
  font-size: 15px
  line-height: 23px
  margin: 0 0 23px 0

// -------- PINK BUTTONS! ------------------
.btn-of 
  color: #fff
  background-color: darken($OF_PINK,10)
  border-color: darken($OF_PINK,5)
  font-family: 'Oswald', sans-serif
  font-weight: 400
  //text-transform: uppercase

.btn-of:hover,
.btn-of:focus,
.btn-of:active,
.btn-of.active 
  background-color: $OF_PINK
  border-color: #e1136c
  color: #fff


.btn-of.disabled:hover,
.btn-of.disabled:focus,
.btn-of.disabled:active,
.btn-of.disabled.active,
.btn-of[disabled]:hover,
.btn-of[disabled]:focus,
.btn-of[disabled]:active,
.btn-of[disabled].active,
fieldset[disabled] .btn-of:hover,
fieldset[disabled] .btn-of:focus,
fieldset[disabled] .btn-of:active,
fieldset[disabled] .btn-of.active 
  background-color: #ee3987
  border-color: #ee3987


// -------- SECONDARY TEXT AREAS -----------

.row.secondary
  margin-top: 30px
  padding-top: 30px
  padding-bottom: 40px
  background-color: $SECONDARY_COLOR
  border-bottom: 2px solid #ddd
  border-radius: 5px 5px 0 0

// --------- LOAD EXTERNAL FILES ---------

@import _footer, _header, _index