%footer.footer
  .container
    .row
      .col-md-6.col-lg-4
        %p.text-muted.text-center= t "footer.last_updated", date: Time.now
      .col-md-6.col-lg-4
        %p.text-muted.text-center [LAST GITHUB COMMIT HASH GOES HERE]
      .col-md-12.col-lg-4
        %p.text-muted.text-center
          = link_to "http://www.rackspace.com/" , :target => "_blank" do
            = t("footer.credit_text")
            / = image_tag "rackspace_130x33_grey.png"