---
title: openFrameworks • about
---

.container
  .row
    .col-md-12.col-lg-10.col-lg-offset-1
      %h1=t "about.header"
      %p.special=t "about.subhead", all_external_links
      
  .row.secondary
    .col-md-12.col-lg-10.col-lg-offset-1